<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex LaunchX</title>
    <link rel="stylesheet" href="..\styles\pokemontypes.css">
    
</head>

<body>
    <h1>Pokedex</h1>
    <div class="table-responsive">
        
            <table class="table">
                <tr>
                    <td>
                        <label>Nombre o numero de pokemon:</label>
                        
                    </td>
                    <td>
                        <input type="text" id="Npoke" value="Greninja">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img id="Sprite" src="../assets/img/ditto.png">
                    </td>
                    <td>
                        <div id="t1" class=""><span id="st1"></span></div>
                        <div id="t2" class=""><span id="st2"></span></div>
                    </td>
                </tr>
                <tr>
                    <button onclick="fetchPokemon()">Buscar</button>
                </tr>
            </table>
        

        
    </div>
    <!-- <div id="t1" class="pkm-type normal"><span>Normal</span></div>
<div class="pkm-type fire"><span>Fire</span></div>
<div class="pkm-type fighting"><span>Fighting</span></div>
<div class="pkm-type water"><span>Water</span></div>
<div class="pkm-type poison"><span>Poison</span></div>
<div class="pkm-type electrik"><span>Electrik</span></div>
<div class="pkm-type ground"><span>Ground</span></div>
<div class="pkm-type grass"><span>Grass</span></div>
<div class="pkm-type flying"><span>Flying</span></div>
<div class="pkm-type ice"><span>Ice</span></div>
<div class="pkm-type bug"><span>Bug</span></div>
<div class="pkm-type psychic"><span>Psychic</span></div>
<div class="pkm-type rock"><span>Rock</span></div>
<div class="pkm-type dragon"><span>Dragon</span></div>
<div class="pkm-type ghost"><span>Ghost</span></div>
<div class="pkm-type dark"><span>Dark</span></div>
<div class="pkm-type steel"><span>Steel</span></div>
<div class="pkm-type fairy"><span>Fairy</span></div> -->

     <script src="../js/pokedexLX.js"></script>
    </body>
</html>